apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ .Values.component }}
  labels:
    system: {{ .Values.system }}
    component: {{ .Values.component }}
spec:
  replicas: {{ .Values.replicaCount }}
  selector:
    matchLabels:
      system: {{ .Values.system }}
      component: {{ .Values.component }}
  template:
    metadata:
      labels:
        system: {{ .Values.system }}
        component: {{ .Values.component }}
    spec:
      containers:
        - name: {{ .Values.component }}
          image: "{{ .Values.image.registry }}/{{ .Values.system }}-{{ .Values.environment }}/{{ .Values.component }}:{{ .Values.image.tag }}"
          imagePullPolicy: Always
          ports:
            - name: http
              containerPort: 8080
          resources:
            requests:
              memory: "{{ .Values.resources.requests.memory }}"
              cpu: "{{ .Values.resources.requests.cpu }}"
            limits:
              memory: "{{ .Values.resources.limits.memory }}"
              cpu: "{{ .Values.resources.limits.cpu }}"